*{
    margin: 0;
    padding: 0;


}

body{
    font-family: Arial, sans-serif;
}

body a:hover{
    cursor: pointer;
}
.container-fluid{
    background-color:#C0C0C0 ;
    min-height: 94vh;
    color: white;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;

}

.intro h1{
    padding: 1.5rem 5rem 1rem 5rem ;
    margin: 1rem 0.1rem 0.5rem 0.5rem;
    background-color:#727272 ;
    font-size: 32px;
    width: 85%;
    font-family: roboto;
    font-weight: 700;


}
.intro {
    display: flex;
    text-align: center;

}
.address{
    padding: 1.5rem 5rem 1rem 5rem ;
    margin: 1rem 0.5rem 0.5rem 0.1rem;
    background-color:#727272 ;
    font-size: 16px;
    line-height: 0.5;
    font-weight: 700;

}
.address a{
color: white;
text-decoration: none;
}
.navbar-nav .nav-link{
    margin:0 1rem ;
    font-size: 18px;


}
.navbar-nav{
    justify-content: center;
    text-wrap: nowrap;
    line-height: 10px;
    margin-left: 10rem;

}
.gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adjust the space between images */
    justify-content: center;
}
.gallery-item {
    /* flex: 1 1 200px;  */
    max-width: calc(25% - 10px);
}
.gallery-item img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.gallery{
    margin: 1rem auto;
}
.row{
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 10px; */
}

/* Pending Media Queries Styles */

.row img {
    /* width: 22%; */
    margin: 0.2rem 0.5rem;
    border: white solid 3px;
    padding: 0.2%;
    flex: 1 1 auto;
    max-width: 100%;
}

/* Tablets */

@media (max-width: 768px) {
    .row img {
        max-width: 45%;
    }
}

/* Mobile phones */

@media (max-width: 480px) {
    .row img {
        max-width: 90%;
    }
}

/* End of Media Queries styles */

.social-links ul li a{
    text-decoration: none;
    color: #727272;
    font-size: 18px;
}
footer{
    display: flex;
    justify-content: space-between;
    max-height: 1rem;
    margin: 1rem;
    padding-bottom: 1rem;

}
ul{
    display: flex;
    justify-content: space-around;

}
ul li{
 margin: 0 2rem;
 list-style-type: none;
}
p{
    color: #727272;
    margin-right: 5rem;
    font-size: 18px;
}
/* .details img{
height: 90vh;
}
.details-image{
    display: flex;
    justify-content: center;
} */


/* Details Page */
.image-container{
    max-height: 30%;
    text-align: center;

}
.image-container img{
    max-width: 100%;
    height: 600px;

}

.image-container a{
    text-decoration: none;
    color: black;
    /* font-weight: bolder; */
}

button{
    padding: .2rem;
    border-radius: .2rem;
    width: 5rem;
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}