{% load static %}

<section>
    <div class="intro d-flex align-items-stretch row">
        <div class="h-container col-md-8 mb-1">
            <div class="heading">
                <h1>Live event - Wedding painting by Vesna Longton</h1>
            </div>
        </div>

        <div class="address-container col-md-4">
            <div class="address">
                <p><a href="mailto:vesna_longton@yahoo.com">vesna_longton@yahoo.com</a></p>
                <p><a href="tel:+16176787880">617-678-7880</a></p>
                <p>Attleboro,MA</p>
            </div>
        </div>
    </div>
</section>
