{% extends "base.html" %} {% load static %}
{% block extracss %}

<link rel="stylesheet" href="{% static "css/style.css" %}">

{% endblock extracss %}

<!--Title-->
{% block meta %}
    <META NAME="description" content="Live event and Wedding painting by Vesna Longton, based in Attleboro, MA .We serve Ma, RI, CT, NH, Providence, Boston and more." />

    <META NAME="keywords" content="wedding painting,event painting, event artist, wedding painter, event painter,Vesna longton, MA, RI, CT, NH, NJ" />

{% endblock meta %}

<title>Live event - Wedding painting,MA,RI,CT,NY,NJ</title>


<!-- Main Content -->

{% include "header.html"%}
{% block content %}

</head>
<body>

<section class="gallery-section">
    <div class="gallery mt-2">
        {% for category, images_in_category in images.items %}
            {% comment %} <h2>{{ category|title }}</h2> {% endcomment %}
            <div class="gallery-container">
                {% for image in images_in_category %}
                    <div class="image-item">

                        <a href="{% url 'image_detail' image.id %}?nav=category"><img class="{{image.category}}" src="{{ image.image.url }}" alt="{{ image.title }}"></a>
                    </div>

                <!-- End of Image as a Link -->
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</section>


{% endblock %}