{% extends "base.html" %} {% load static %}
<!-- More Meta Description-->
    {% block meta %}
    <META NAME="description" content="Paintings information of each of Live event and Wedding paintings by Vesna Longton." />
    <META NAME="keywords" content="Vesna Longton,wedding painter,live event painting, live wedding painting, live event artist, event painting,Vesna longton,MA,RI,CT,NH,NJ" />
    {% endblock meta %}

    {% block extracss %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="{% static "css/style.css" %}">

    {% endblock extracss %}

    <!-- Title -->
    <title>Paintings Details by Vesna Longton</title>

    <!--Main Content-->

{% block content %}

<main>
    <section class="image-details space">

        <div class="image-info row m-1">

            <!-- Carousel -->
            <div class="carousel col-md-7 my-3">


                <div class="carousel__item active">
                    <img class="px-5 {{image.category}}" src="{{ image.larger_image.url }}" alt="Image Detail" />
                </div>

                <!-- Navigation buttons -->

                <a href="{% if prev_image_id %}{% url 'image_detail' prev_image_id %}?nav={{ nav_mode }}{% endif %}">
                    <button class="carousel__button--prev">&#10094;</button>
                </a>


                <a href="{% if next_image_id %}{% url 'image_detail' next_image_id %}?nav={{ nav_mode }}{% endif %}"
                > <button class="carousel__button--next">&#10095;</button> </a>
            </div>
            <!-- End of Carousel -->

            <!-- Image Details -->
            <div class="text-details me-5 col-md-4 ">

                <h2 class="fs-5 my-5"> {{ image.title}} </h2>

                <p class="text-start ms-1 pe-3"> {{ image.image_description}}</p>

                <div class="back-link">
                    <a class=" text-secondary text-gray text-decoration-none ms-1 mt-3 pt-3" href="{% url "gallery" %}"> BACK </a>
                </div>






            </div>

        </div>
    </section>
</main>

<script>

    // Carousel
    let currentSlide = 0;
    const slides = document.querySelectorAll(".carousel__item");

    function showSlide(index) {
        if (index >= slides.length) index = 0;
        if (index < 0) index = slides.length - 1;

        slides.forEach((slide) => {
            slide.classList.remove("active");
        });

        slides[index].classList.add("active");
        currentSlide = index;
    }

    function moveSlide(change) {
        showSlide(currentSlide + change);
    }

    // Initializing the carousel with the first item active
    showSlide(currentSlide);

</script>

{% endblock %}