{% extends "base.html" %}
{% load static %}

<!-- More Meta Description-->
{% block meta %}
<META NAME="description"
    content="Prices of live event and wedding painting. We serves Ma, RI, CT, NH, Providence, Boston and more." />

<META NAME="keywords"
    content="wedding painting prices, wedding painting price, event painting prices, event painting price ,wedding painter, live event painting, live event artist, event painting,Vesna " />
{% endblock meta %}

<!-- Title -->
<title>Prices of live event and wedding painting</title>

<!-- Extra CSS -->
{% block extracss %}

<link rel="stylesheet" href="{% static "css/style.css" %}">
{% endblock extracss %}

{% comment %}
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" /> {% endcomment %}
{% comment %} <title>live event-wedding painting</title> {% endcomment %}

{% block content %}


<main>
    <section class="prices container-fluid space">
        <h2 class="text-center m-3">Prices</h2>
        <hr>

        {% if active_discounts %}
        <div class="pt-2 discount-section">
            {% for discount in active_discounts %}
            <div class="discount ">
                {% if discount.gif_image %}
                {% endif %}
                <h3 class="mx-5 px-5">{{ discount.description }}</h3>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="row  m-2 m-auto">
            <div class="price-list row m-auto">
                <div class="first-half col-md-5 m-auto">
                    <div class="price-item m-2">
                        <h3>20X16 - $1900</h3>
                        <p>Vertical, only portrait of two</p>
                    </div>
                    <div class="price-item m-2">
                        <h3>18X24 - $2000</h3>
                        <p>Vertical, only portrait of two</p>
                    </div>
                    <div class="price-item m-2">
                        <h3>22X28 - $2200</h3>
                        <p>About 7-8 recognizable people</p>
                    </div>
                    <div class="price-item m-2">
                        <h3>24X30 - $2300</h3>
                        <p>About 9-10 recognizable people</p>
                    </div>
                </div>

                <div class="second-half col-md-5">
                    <div class="price-item m-2">
                        <h3>24X36 - $2400</h3>
                        <p>About 11- 12 recognizable people</p>
                    </div>
                    <div class="price-item m-2">
                        <h3>30X40 - $3100</h3>
                        <p>About 13-14 recognizable people</p>
                    </div>
                    <div class="price-item m-2">
                        <h3>30X48 - $3600</h3>
                        <p>About 15-16 recognizable people, possibly finished in the artist's studio</p>
                    </div>
                </div>
                <!-- End of Item Prices -->
                <div class="other-sizes m-auto ">
                    <p class="m-auto container note">*Other sizes of paintings are negotiable. For locations over an hour from
                        Attleboro, MA, there is a travel charge.</p>
                </div>

            </div>

            <!-- Ending Piece-->
            <div class="details pt-2 m-auto pb-2">

                <h2 class="text-center mt-3">Details</h2>

                <p class="container">Paintings are done live at the text-start event as entertainment for the guests. By the end
                    of the event, the painting will be ready. Paintings can be done in oil, acrylic, or pastel. Acrylic
                    paintings and pastel can be taken home by the client right after it is finished. Oil paintings need
                    to stay with the artist for 7-14 days to allow them to dry.</p>


            </div>

        </div>

    </section>


</main>

{% endblock %}